config.ini
testupdate.py
beta/*
jsontest.py
.vscode/*
/.vs/*
/.gitattributes
*.pyc
__pycache__/config.cpython-39.pyc
__pycache__/selfupdate.cpython-39.pyc
db/__pycache__/*
db/embyupdate.db
*.zip
*.db-journal

