[Unit]
Description=Run EmbyUpdate once a day

[Timer]
OnCalendar=*-*-* 12:35:00
RandomizedDelaySec=20s
Persistent= False

[Install] 
WantedBy= multi-user.target